#footer {
  background: #F0F3F6;
  border-top: 1px solid #e6e7e8;
  padding-bottom: 50px;
}

#footer a {
  color: #717a8a;
}

div#footer p a {
  display: block;
  height: 48px;
}

#footer a:hover {
  color: #06c3e1;
}
