header {
  background: #ffffff;
}

.header-wrapper {
  background: #F0F3F7;
}

.header-wrapper img {
  width: 100%;
}

@media (min-width: 960px) {
  .header-wrapper {
    height: 339px;
  }

  .header-wrapper img {
    height: 339px;
    width: auto;
  }

  .nabi-container.nabi-margin-bottom-small.banner-text-wrapper {
    width: 35%;
    margin-right: 52%;
    padding-top: 10px;
  }
  .nabi-container.nabi-margin-bottom-small.banner-text-wrapper p {
    line-height: 47px;
    font-size: 18px !important;
  }
  .nabi-landing-image-wrapper {
    float: right;
    height: 339px;
  }

  p.nabi-landing-font-large-md {
    font-size: 18px !important;
  }
}

@media (min-width: 1600px) {
  .header-wrapper {
    width: 1200px;
  }
}
