.conversation-avatar-wrapper {
    align-items: center;
    justify-content: center;
}

.conversation-back-button {
    margin-left: -24px;
}

.conversation-avatar {
    width: 70px;
    height: 70px;
    margin-left: -10px;
}

.conversation-item {
    height: 400px;
    overflow-y: auto;
}

@media only screen and (min-width: 600px) {
    .conversation-back-button {
        margin-left: -30px;
    }
  }
  