.page-banner-cta {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  color: white
}

.page-banner-cta-description {
  font-size: 30px;
  font-weight: 600;
}
