.international-phone-input input {
  background: #f3f6f9;
  border-radius: 5px;
  border: 2px solid #ebeef1 !important;
  margin: 0px;
  padding: 18px 18px;
  font-family: 'Montserrat', sans-serif !important;
  line-height: 1.1875em;
  font-size: 1rem;
  width: 100%;
}

.international-phone-input .PhoneInputCountryIconImg {
  color: #06c3e1;
}
