.sticky {
  position: fixed;
  top: 0;
  left: 56.333333%;
  width: 32.666667%;
}

.profile-cta-mobile {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  // padding: 20px;
}

.profile-cta-content-wrapper {
  width: 90%;
  background:white;
  margin: 5%
}