.time-slots-wrapper {
  height: 300px;
  overflow-y: scroll;
}

.MuiTab-root {
  width: 14.3% !important;
  max-width: 14.3% !important;
  min-width: 14.3% !important;
}

@media (min-width: 960px) {
  .time-slots-wrapper {
    height: auto;
    overflow-y: none;
  }
}

.add-times__btn {
  height: fit-content;
}

.trial-time__select {
  font-size: 13px !important;
}

.trial-select__form--container {
  display: flex !important;
  justify-content: space-between !important;
}

.trial-select__form--day-of-week {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

@media (max-width: 768px) {
  .trial-select__form--container {
    flex-direction: column !important;
  }
  .trial-select__form--day-of-week {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
