.time-slots-wrapper {
  height: 300px;
  overflow-y: scroll;
}

.MuiTab-root {
  width: 14.3% !important;
  max-width: 14.3% !important;
  min-width: 14.3% !important;
}

@media (min-width: 960px) {
  .time-slots-wrapper {
    height: auto;
    overflow-y: none;
  }
}
