.time-slots-wrapper {
  height: 300px;
  overflow-y: scroll;
}

.MuiTab-root {
  width: 14.3% !important;
  max-width: 14.3% !important;
  min-width: 14.3% !important;
}

@media (min-width: 960px) {
  .time-slots-wrapper {
    height: auto;
    overflow-y: none;
  }
}

.add-times__btn {
  height: fit-content;
}

.trial-time__select {
  font-size: 13px !important;
}

.trial-select__form--container {
  display: flex !important;
  justify-content: space-between !important;
  margin-bottom: 20px !important;
}

.trial-select__form--day-of-week {
  display: flex !important;
  flex: 1 0 25% !important;
  margin: 4px !important;
}

.trial-select__language {
  width: 50%;
}

.trial-select__btn-group {
  width: 100% !important;
  background-color: #e5e5e5;
}

.trial-select__btn {
  width: 100% !important;
}

.trial-select__label {
  height: 40px !important;
  &:hover {
    background-color: #06c3e1 !important;
    color: #ffffff !important;
    border-radius: 5px !important;
  }
}

.trial-select__gender {
  background-color: #06c3e1 !important;
  color: #ffffff !important;
  border-radius: 4px !important;
}

@media (max-width: 768px) {
  .trial-select__label {
    font-size: 8px !important;
  }
  .trial-select__language {
    width: 100% !important;
  }
  .trial-select__form--day-of-week {
    width: 100% !important;
  }

  .trial-select__form--day-of-week {
    flex: 1 0 100% !important;
  }
}
