@font-face {
	font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,800');
  font-display: swap;
}

.MuiIconButton-colorPrimary {
  color: #fff !important;
  width: 30px;
  height: 30px;
  background: #06c3e1 !important;
  border-radius: 50%;
}

.MuiIconButton-colorPrimary:hover {
  background-color: #01bedc !important;
}

.MuiIconButton-root.MuiCheckbox-colorSecondary {
  color: #06C1E1 !important;
  border-radius: 3px;
  height: 30px;
  width: 30px;
  padding: 0px;
  background: transparent !important
}

.MuiButton-outlinedPrimary {
  color: #06c3e1 !important;
  border: 1px solid #06c3e1 !important;
}

.MuiTableCell-root {
  font-family: 'Montserrat', sans-serif !important;
  color: #717a8a !important;
}

.MuiButton-containedSecondary {
  background-color: #FB7F6B !important;
  color: #ffffff;
}

.MuiButtonGroup-grouped {
  padding: 0px !important;
  color: #717a8a !important;
}

.MuiButtonGroup-groupedTextHorizontal:not(:last-child) {
  border-right: 1px solid #717a8a !important;
}

.MuiPaper-root.MuiPaper-elevation1.MuiExpansionPanel-root.MuiExpansionPanel-rounded.MuiPaper-rounded {
  box-shadow: none;
}

.MuiExpansionPanel-root:before, .MuiExpansionPanel-root:after {
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  content: "";
  opacity: 1;
  position: absolute;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #e6e7e8 !important;
}

.MuiIconButton-root {
  flex: 0 0 auto;
  color: #06c3e1;
  width: 30px;
  height: 30px;
  padding: 0px !important;
  overflow: visible;
  font-size: 15px;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
}

.MuiIconButton-colorPrimary {
  color: #fff !important;
  width: 30px;
  height: 30px;
  background: #06c3e1;
  border-radius: 50%;
}

.MuiIconButton-colorSecondary {
  background: #FB7F6B !important;
}

.MuiAppBar-colorPrimary {
  color: #717a8a !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}

.MuiTab-root.Mui-selected {
  color: #06c3e1;
}

.MuiTabs-indicator {
  background-color: #06c3e1 !important;
}

.MuiTabs-root {
  overflow: hidden;
  background-color: #f3f6f9;
  border-bottom: 1px solid #ebeef1 !important;
}

.MuiRadio-root {
  background: none !important;
  color: #06c3e1 !important;
}

.MuiRadio-root.Mui-checked {
  color: #06c3e1 !important;
}

.MuiChip-root {
  color: #717a8a !important;
  height: 40px !important;
  background-color: transparent !important;
  padding: 0px 11px !important;
  border-radius: 4px !important;
  font-size: 0.875rem !important;
  border: 1px solid #717a8a !important;
}

.MuiChip-colorPrimary {
  color: #fff !important;
  background-color: #06c3e1 !important;
}

.MuiChip-label {
  font-size: 1rem !important;
  font-family: 'Montserrat', sans-serif !important;
}
